{% extends "admindashboard/base.html"%}
{% block content%}
<center><h1><u>List of Users</u></h1></center>
<table class="table table-striped table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Is Staff</th>
            <th scope="col">Attendance</th>

        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{user.username}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.is_staff}}</td>
            <td><a href="{% url 'a_app:admin-dashboard-attendances' user.pk %}" class="btn btn-success">View Attendance</a></td>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock content%}