{% extends "admindashboard/base.html" %}

{% block title %} {% endblock %}
{% block content %}

<table class="table table-striped table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Direction</th>
            <th scope="col">Remarks</th>
            <th scope="col">Entry Time</th>
            <th scope="col">Late By</th>
            <th scope="col">Early By</th>
            <!-- <th scope="col">DEMO Late</th>
            <th scope="col">DEMO Early</th> -->
            <th scope="col">Is Delete</th>
        </tr>
    </thead>
    <tbody>
        <center>
            <h1>User Attendance</h1>
        </center>
        {% if attendances %}
        {% for attendance in attendances %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ attendance.user.username }}</td>
            <td>{{ attendance.user.first_name }} {{ attendance.user.last_name }}</td>
            <td>{{ attendance.direction }}</td>
            <td>{{ attendance.remarks }}</td>
            <td>{{ attendance.time }}</td>
            <!-- <td class="text-danger"> { { attendance.late_by|date:"H:i:s"|default:"NONE" }}</td>
            <td class="text-danger">{ { attendance.early_by|date:"H:i:s"|default:"NONE" }}</td> -->

            {% if attendance.direction == "Check In" %}
            <td class="text-danger">
                {% if attendance.late_time %}
                {{ attendance.late_time|date:"H:i:s" }}
                {% else %}
                None
                {% endif %}
            </td>
            {% else %}
            <td class="text-danger">None</td>
            {% endif %}

            {% if attendance.direction == "Check Out" %}
            <td class="text-danger">
                {% if attendance.early_time %}
                {{ attendance.early_time|date:"H:i:s" }}
                {% else %}
                None
                {% endif %}
            </td>
            {% else %}
            <td class="text-danger">None</td>
            {% endif %}

            <td>
                {% if attendance.is_delete %}
                <div class="text-danger">Attendance is Deleted</div>
                <i class="bi bi-trash red-icon fs-3" style="color: red"></i>
                {% else %}
                <div class="text-success">NONE</div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <th scope="row" colspan="9">No records found</th>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}